body {
    text-align:center;
    font-family: helvetica;
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 1em;
    padding-top: 5px;
    background-color: goldenrod;
}
canvas {
    background-color: white;
    border: 2px solid black;
}
.canvas-area {

}
.score {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.direction-inputs {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: .7em;
}
.game-control {
    min-height: 4em;
    min-width: 6em;
    border: 2px solid black;
    border-radius: 1em;
    width: 33.33%;
}
.btn-direction {
    background-color: aquamarine;
}
.btn-direction:active {
    background-color: aqua;
}
.btn-restart {
    background-color: red;
}
.btn-restart:active {
    background-color: darkred;
}
.fa-refresh {
    color: red;
    font-size: 2em !important;
}
.fa-pause {
    color: blue;
    font-size: 1.5em;
}
.game-speed-input {
    width: 3em;
}